OLIST_CHAT_WEBHOOK_URL = "..."
OLIST_CHAT_WEBHOOK_TOKEN = "..."
OLIST_CHAT_DEFAULT_NAME = "..."
OLIST_CHAT_DEFAULT_EMAIL = "..."
OLIST_CHAT_APP_USERNAME = "..."
OLIST_CHAT_APP_PASSWORD = "..."

DB_HOST = "..."
DB_PORT = "3306"
DB_USER = "..."
DB_PASSWORD = "..."
DB_NAME = "..."
DB_SSL_CA = """-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----"""
